:root { /* поправить фонт (done), марджины паддинги, цвета, сделать флексы и пофиксить размеры и убрать фиксированные размеры у секций!!! фонт фейс в html также посмотри инлайн блоки*/
    --custom-property:__;
    --black-1: #1f1f1f;
    --black-2: #181818;
    --black-3: #0A0A0A;
    --black-4: rgba(31, 31, 31, 1);
    --black-5:  #121212;
    --black-6: #1d1d1d;
    --black-7: #141414;
    --gold-1: #9F7437;
    --gold-2: #E3D293;
    --gray-1: #727272;
    --gray-2: #707070;
    --gray-3: #9f9f9f;
    --gray-4: #b6b6b6;
    --gray-5: #afafaf;
    --white: #ffffff;
    --white-1: #f5f5f5;
    --white-2: #eeeeee;
    --white-3: #f4f4f4;
    --white-4: #f0f0f0;
    --white-02: rgba(255, 255, 255, 0.2);

    --radius-large: 1rem;
    --radius-medium: 0.8rem;
    --radius-small: 0.6rem;
}

html { font-size: 62.5%; }

html, body {
    width: 100%;
    overflow-x: hidden;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

p, li, input, button, a {
    font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

header {
    min-height: 7rem;
    width: 100%;
    background-color: var(--black-2);
    padding: 1.5rem 2.2rem 1.7rem 2rem;
    vertical-align: middle;
    position: relative;
}

.header-container {
    max-width: 180rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

header ul {
    display: none;
    background: var(--black-2);
    margin: 1.3rem -2.2rem 0 0;
    padding: 1rem 2rem;
    position: absolute;
    left: 35vw;
    right: 0;
    z-index: 1000;
    list-style: none;
    text-align: right;
}

header ul li{
    margin: 0.5rem 2.2rem 0.5rem 0;
}

header ul li a {
    text-decoration: none;
    color: var(--white);
}

.hbuttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#menu-toggle {
    display: inline-block;
    background: none;
    border: none;
    margin-left: 1.1rem;
    padding: 0;
}

.wrapper-main {
    display: flex;
    margin: 0 auto;
}

.sidebar {
    margin-top: 5%;
    flex-grow: 1.5;
    flex-basis: 0;
}

.sidebar li a {
    font-size: clamp(1.4rem, 1.8vw, 1.8rem);
}

.mainbar {
    flex-grow: 8.5;
    flex-basis: 0;
    padding: 3%;
}

.mainbar h1 {
    font-size: clamp(2rem, 3vw, 4rem);
}

.mainbar-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    place-items: center;
}

.mainbar-grid .card:nth-child(1) {
    grid-column: 1 / span 6;
    aspect-ratio: 3 / 1;
}

.mainbar-grid .card:nth-child(2),
.mainbar-grid .card:nth-child(3),
.mainbar-grid .card:nth-child(4) {
    grid-column: span 2;
    aspect-ratio: 1 / 1;
}

.mainbar-grid .card:nth-child(5),
.mainbar-grid .card:nth-child(6) {
    grid-column: span 3;
    aspect-ratio: 2 / 1;
}

.card {
    border: 0.25rem solid var(--black-2);
    border-radius: 0.5rem;
    background-color: var(--white);
    width: 100%;
    display: block;
}

.footer-container {
    max-width: 116.5rem;
    margin: 0 auto;
}

footer {
    background: var(--black-6);
    padding: 4rem 2rem 3.3rem 2rem;
    margin-top: auto;
}

#call {
    width: auto;
    max-width: 100%;
    white-space: normal;
    flex-shrink: 1;
    padding: 0 5rem;
    height: 5.6rem;
    background: none;
    border: 2px solid var(--white);
    border-radius: var(--radius-medium);
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 500;
    margin: 2.4rem 0 2.4rem 0;
}

footer h3 {
    color: var(--white);
    margin-top: 4rem;
}

.contacts {
    display: flex;
    margin-bottom: 0.8rem;
}

.contacts img {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.8rem;
}

.contacts p {
    display: inline-block;
    vertical-align: bottom;
    white-space: normal;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

#mailf {
    color: var(--white);
}

.socials {
    margin: 3rem 0 4rem 0;
}

.socials img {
    margin-right: 1.2rem;
}

a:-webkit-any-link {

    cursor: pointer;
    
    
}

.dropdowns a {
    color: var(--gray-5);
    text-decoration: none;
}

.dropdowns {
    background: var(--black-7); /* сделай через отрицательный маргин */
    background-size: cover;
    text-align: center;
    margin: 0 -2rem;
}

.dropdowns li {
    background: var(--black-6);
    padding: 1rem 0;
}

.dropdowns ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.dropdowns h3 {
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.clients-open {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 2.8rem 2.5rem 2rem;
}

.open {
    background: none;
    border: none;
    padding: 0;
}

.autopark-f ul,
.events ul {
    display: none;
}

.open img {
    display: block;
}

#copyright {
    margin: 3.4rem 0 1.2rem 0;
}

.logo-button {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    min-width: 0;
    flex-wrap: nowrap;
}

.logo-button img {
    object-fit: contain;
    width: 25rem;
    height: auto;
    flex-shrink: 0;
}