:root { /* поправить фонт (done), марджины паддинги, цвета, сделать флексы и пофиксить размеры и убрать фиксированные размеры у секций!!! фонт фейс в html также посмотри инлайн блоки*/
    --custom-property:__;
    --black-1: #1f1f1f;
    --black-2: #181818;
    --black-3: #0A0A0A;
    --black-4: rgba(31, 31, 31, 1);
    --black-5: #121212;
    --black-6: #1d1d1d;
    --black-7: #141414;
    --black-8: #0C0C0C;
    --gold-1: #9F7437;
    --gold-2: #E3D293;
    --gray-1: #727272;
    --gray-2: #707070;
    --gray-3: #9f9f9f;
    --gray-4: #b6b6b6;
    --gray-5: #afafaf;
    --gray-6: #A6A6A6;
    --white: #ffffff;
    --white-1: #f5f5f5;
    --white-2: #eeeeee;
    --white-3: #f4f4f4;
    --white-4: #f0f0f0;
    --white-02: rgba(255, 255, 255, 0.2);

    --radius-large: 1rem;
    --radius-medium: 0.8rem;
    --radius-small: 0.6rem;
}

/* h1: 32 bold unbounded
h2: 18 bold unbounded
h3: 16 bold montserrat
p: 16 medium montserrat

autopark:
p - 18 semibold montserrat
p - 14 medium montserrat

rightnow:
p label - 13 medium montserrat
p - 18 semibold montserrat
p - 14 medium montserrat


*/

html { font-size: 62.5%; }

html, body {
    min-width: 300px;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    background-color: #f4f4f4;
}

p, li, input, button, a {
    font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

header {
    min-height: 7rem;
    width: 100%;
    background-color: var(--black-2);
    padding: 1.5rem 2.2rem 1.7rem 2rem;
    vertical-align: middle;
    position: relative;
}

.header-container {
    max-width: 180rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.desktop-nav,
.city-buttons,
.header-socials,
.number-call {
    display: none;
}

.checkbox-cartype {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
    padding: 0;
    font-size: 1.3rem;
    margin: 3.4rem 0 3.4rem 0;
}

.wrapper {
    max-width: 132rem;
    margin: 0 auto;
}

.footer-container {
    max-width: 116.5rem;
    margin: 0 auto;
}

.hbuttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.goldbtns {
    border: none;
    background: linear-gradient(to right, var(--gold-1), var(--gold-2));
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#menu-toggle {
    display: inline-block;
    background: none;
    border: none;
    margin-left: 1.1rem;
    padding: 0;
}

header ul {
    display: none;
    background: var(--black-2);
    margin: 1.3rem -2.2rem 0 0;
    padding: 1rem 2rem;
    position: absolute;
    left: 35vw;
    right: 0;
    z-index: 1000;
    list-style: none;
    text-align: right;
}

header ul li{
    margin: 0.5rem 2.2rem 0.5rem 0;
}

header ul li a {
    text-decoration: none;
    color: var(--white);
}

hr {
    border: 0;
    height: 0.2rem;
    background-color: var(--white-02);
}

body {
    font-size: 1.6rem;
    line-height: 1.5; 
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background-image: url("../Images/first_background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1, h2, h3 {
    font-family: 'Unbounded', sans-serif;
    font-weight: 700; 
}

h1 {
    font-size: 3.2rem;
    margin: 0;
    line-height: 4rem;
}

h2 {
    font-size: 1.8rem;
    margin: 0;
    line-height: 2.7rem;
}

h3 {
    font-size: 1.6rem;
}

body p {
    font-size: 1.4rem;
    font-weight: 400;
}

section {
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 4rem 2rem;
}

footer {
    background: var(--black-6);
    padding: 4rem 2rem 3.3rem 2rem;
}

#call {
    width: 100%;
    height: 5.6rem;
    background: none;
    border: 2px solid var(--white);
    border-radius: var(--radius-medium);
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 500;
    margin: 2.4rem 0 2.4rem 0;
}

footer h3 {
    color: var(--white);
    margin-top: 4rem;
}

.contacts {
    display: flex;
    margin-bottom: 0.8rem;
}

.contact {
    margin-top: 4rem;
}

#mailto {
    text-decoration: none;
    color: var(--white);
}

.contacts img {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.8rem;
}

.phone {
    text-decoration: none;
}

.contacts p {
    display: inline-block;
    vertical-align: bottom;
    white-space: normal;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

#mailf {
    color: var(--white);
}

.socials {
    margin: 3rem 0 4rem 0;
}

.socials img {
    margin-right: 1.2rem;
}

a:-webkit-any-link {

    cursor: pointer;
    
    
}

button {
    cursor: pointer;
}

.dizrental-form {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1170px;
    padding: 10% 10%;
    border: 1px solid var(--gray-6);
    border-radius: 2rem;
    backdrop-filter: blur(10px); /* Размытие того, что позади */
    -webkit-backdrop-filter: blur(10px);
}

.form-container {
    padding: 20%;
    
}

.dizrental-form h2 {
    color: var(--white);
    font-size: 2.8rem;
    margin-bottom: 2.4rem;
}

#contact {
    margin-top: 3.2rem;
}

.cancelbutton {
    width: 100%;
    height: 7.6rem;
    background: none;
    border: 2px solid var(--white);
    border-radius: var(--radius-large);
    text-align: center;
    padding: 2.8rem 3.4rem 2.8rem 3.4rem;  
    color: var(--white);
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.typeform {
    width: 100%;
    height: 7.6rem;
    background: var(--white-1);
    border: none;
    border-radius: var(--radius-large);
    padding: 2.8rem 0 2.8rem 3rem;
    margin-bottom: 1.4rem;
    margin-top: 1rem;
}

.goldbtns {
    border: none;
    background: linear-gradient(to right, var(--gold-1), var(--gold-2));
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--white);
    height: 7.6rem;
    border-radius: 1rem;
    margin-top: 3rem;
    padding: 2.8rem 3.4rem 2.8rem 3.4rem; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.required {
    color: var(--white);
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}

#phone {
    color: var(--white);
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}

.dropdowns a {
    color: var(--gray-5);
    text-decoration: none;
}

.dropdowns {
    background: var(--black-7); /* сделай через отрицательный маргин */
    background-size: cover;
    text-align: center;
    margin: 0 -2rem;
}

.dropdown:nth-child(1) {
    text-align: center;
}

.dropdowns li {
    background: var(--black-6);
    padding: 1rem 0;
}

.dropdowns ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.dropdowns h3 {
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.text-below-car {
    margin: 0;
    background: var(--white);
    padding: 4rem auto;
    padding-right: 8rem;
    text-align: left;
    border-radius: 0 0 2rem 2rem;
}

.clients-open {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 2.8rem 2.5rem 2rem;
}

.open {
    background: none;
    border: none;
    padding: 0;
}

.autopark-f ul,
.events ul {
    display: none;
}

#star {
    color: var(--gray-1);
    margin: 0;
}

.open img {
    display: block;
}

#copyright {
    margin: 3.4rem 0 1.2rem 0;
}

.rent-text-desktop {
    display: none !important;
}

.Dubai-img-desktop {
    display: none !important;
}

.numbers {
    font-size: 1.3rem !important;
}

.Moscow-img-mobile {
    display: block !important;
}

.Moscow-img-desktop {
    display: none !important;
}

.car-page:nth-child(n+5) {
    display: none !important;
}

.logo-footer-desk {
    display: none !important;
}

.logo-footer-mobile {
    display: block !important;
}

#footerphone {
    text-decoration: none;
    color: var(--white);
    font-size: 1.8rem;
    font-family: 'Unbounded', sans-serif;
}

.footer {
    flex-shrink: 0;
    margin-top: auto;
}

@media (min-width: 1080px) {
    header {
        min-height: 12.4rem;
        padding: 3.7rem 5.9rem 4.1rem 6rem;
    }

    .header-container {
        max-width: 180rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    .logo {
        object-fit: cover;
        height: 100%;
        width: auto;
    }

    .city-buttons,
    .desktop-nav,
    .header-socials,
    .number-call {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .desktop-nav {
        display: none !important;
    }

    .number-call p {
        font-family: 'Unbounded', sans-serif;
        font-weight: bold;
        font-size: 1.8rem;
        color: var(--white);
        text-wrap: nowrap;
        padding-right: 3.2rem;
    }

    .number-call button {
        border: 0.2rem solid var(--gray-1);
        font-size: 1.3rem;
    }

    #call {
        width: 14.9rem;
    }
    .desktop-nav a {
        text-decoration: none;
        color: var(--white);
    }

    .city-buttons {
        display: flex;
        height: 3.8rem;
        gap: 1px;
    }

    .city-buttons button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .city-buttons p {
        padding: 0 0.7rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        margin: 0;
        padding: 0 0 0 0.7rem;
    }
    
    .city-buttons img {
        display: flex;
    }

    #citymoscow {
        border: 0;
        color: var(--white);
        background: var(--black-8);
        border-radius: 0.6rem 0 0 0.6rem;
        height: 3.8rem;
    }
    
    #citymoscow p {
        color: var(--white);
    }

    #citydubai {
        border: 0;
        color: var(--gray-6);
        background: var(--black-8);
        border-radius: 0 0.6rem 0.6rem 0;
        height: 3.8rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
    }

    #menu-toggle {
        display: none !important;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20%;
    }

    .footer-options {
        display: flex;
        flex-direction: column;
    }

    .footer-text {
        text-align: right;
        width: 38%;
    }

    .callback h3 {
        font-size: 1.8rem;
        margin: 0;
    }

    .contact {
        text-align: left;
    }
    
    .clients-open {
        padding-left: 0;
    }

    .copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    #copyright {
        margin: 0;
    }

    .callback {
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 3rem;
    }

    #call {
        padding: 1.2rem 2rem;
        text-wrap: nowrap;
        font-size: 1.3rem;
    }

    .dropdowns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: none;
        gap: 16.3%;
    }

    #footer-hr-desktop {
        height: 1px;
        width: 100%;
        margin: 4.6rem auto;
    }

    .dropdown {
        display: inline !important;
        text-align: left;
    }

    .contacts {
        justify-content: flex-end;
    }

    .logo-footer-mobile {
        display: none !important;
    }

    .logo-footer-desk {
        display: block !important;
        margin-left: auto;
    }
}

@media (min-width: 1500px) {
    header {
        min-height: 12.4rem;
        padding: 3.7rem 5.9rem 4.1rem 6rem;
    }

    .header-container {
        max-width: 180rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    .logo {
        object-fit: cover;
        height: 100%;
        width: auto;
    }

    .city-buttons,
    .desktop-nav,
    .header-socials,
    .number-call {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .desktop-nav {
        display: contents !important;
    }

    .number-call p {
        font-family: 'Unbounded', sans-serif;
        font-weight: bold;
        font-size: 1.8rem;
        color: var(--white);
        text-wrap: nowrap;
        padding-right: 3.2rem;
    }

    .number-call button {
        border: 0.2rem solid var(--gray-1);
        font-size: 1.3rem;
    }

    #call {
        width: 14.9rem;
    }
    .desktop-nav a {
        text-decoration: none;
        color: var(--white);
    }

    .city-buttons {
        display: flex;
        height: 3.8rem;
        gap: 1px;
    }

    .city-buttons button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .city-buttons p {
        padding: 0 0.7rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        margin: 0;
        padding: 0 0 0 0.7rem;
    }
    
    .city-buttons img {
        display: flex;
    }

    #citymoscow {
        border: 0;
        color: var(--white);
        background: var(--black-8);
        border-radius: 0.6rem 0 0 0.6rem;
        height: 3.8rem;
    }
    
    #citymoscow p {
        color: var(--white);
    }

    #citydubai {
        border: 0;
        color: var(--gray-6);
        background: var(--black-8);
        border-radius: 0 0.6rem 0.6rem 0;
        height: 3.8rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
    }

    .clients-open {
        background: none !important;
    }
    #menu-toggle {
        display: none !important;
    }
}