:root { /* поправить фонт (done), марджины паддинги, цвета, сделать флексы и пофиксить размеры и убрать фиксированные размеры у секций!!! фонт фейс в html также посмотри инлайн блоки*/
    --custom-property:__;
    --black-1: #1f1f1f;
    --black-2: #181818;
    --black-3: #0A0A0A;
    --black-4: rgba(31, 31, 31, 1);
    --black-5:  #121212;
    --black-6: #1d1d1d;
    --black-7: #141414;
    --gold-1: #9F7437;
    --gold-2: #E3D293;
    --gray-1: #727272;
    --gray-2: #707070;
    --gray-3: #9f9f9f;
    --gray-4: #b6b6b6;
    --gray-5: #afafaf;
    --white: #ffffff;
    --white-1: #f5f5f5;
    --white-2: #eeeeee;
    --white-3: #f4f4f4;
    --white-4: #f0f0f0;
    --white-02: rgba(255, 255, 255, 0.2);

    --radius-large: 1rem;
    --radius-medium: 0.8rem;
    --radius-small: 0.6rem;
}

/* h1: 32 bold unbounded
h2: 18 bold unbounded
h3: 16 bold montserrat
p: 16 medium montserrat

autopark:
p - 18 semibold montserrat
p - 14 medium montserrat

rightnow:
p label - 13 medium montserrat
p - 18 semibold montserrat
p - 14 medium montserrat*/

html { font-size: 62.5%; }

html, body {
    min-width: 300px;
    width: 100%;
    overflow-x: hidden;
}

p, li, input, button, a {
    font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

header {
    min-height: 7rem;
    width: 100%;
    background-color: var(--black-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.2rem 1.7rem 2rem;
    vertical-align: middle;
    position: relative;
}

.hbuttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.goldbtns {
    border: none;
    background: linear-gradient(to right, var(--gold-1), var(--gold-2));
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--white);
}

#menu-toggle {
    display: inline-block;
    background: none;
    border: none;
    margin-left: 1.1rem;
    padding: 0;
}

header ul {
    display: none;
    background: var(--black-2);
    margin: 1.3rem -2.2rem 0 0;
    padding: 1rem 2rem;
    position: absolute;
    left: 35vw;
    right: 0;
    z-index: 1000;
    list-style: none;
    text-align: right;
}

header ul li{
    margin: 0.5rem 2.2rem 0.5rem 0;
}

header ul li a {
    text-decoration: none;
    color: var(--white);
}

hr {
    border: 0;
    height: 0.2rem;
    background-color: var(--white-02);
}

body {
    font-size: 1.6rem;
    line-height: 1.5; 
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Unbounded', sans-serif;
    font-weight: 700; 
}

h1 {
    font-size: 3.2rem;
    margin: 0;
    line-height: 4rem;
}

h2 {
    font-size: 1.8rem;
    margin: 0;
    line-height: 2.7rem;
}

h3 {
    font-size: 1.6rem;
}

body p {
    font-size: 1.4rem;
    font-weight: 400;
}

section {
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 4rem 2rem;
}

.first {
    color: var(--white);
    background-image: url("../Images/s1_car_back.png")
}

.first p {
    color: var(--white);
    font-weight:400;
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    line-height: 2.4rem;
} 

.bonuses {
    display: flex;
    width: 100vw;
    gap: 1.8rem;
    font-size: 1.5rem;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 4rem;
    padding: 0;
    list-style: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.bonus {
    display: flex;
    gap: 1.7rem;
}

.bonuses li {
    flex: 0 0 auto;
    white-space: normal;
}

.rent {
    background-color: var(--white);
}

.rent-date {
    min-height: 7.6rem;
    width: 28rem;
    border: none;
    border-radius: var(--radius-large);
    background-color: var(--white-1);
}

.checkbox-cartype {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    list-style: none;
    padding: 0;
    font-size: 1.3rem;
    margin: 3.4rem 0 3.4rem 0;
}

.checkbox-cartype li {
    flex: 0 0 calc(50% - 5px);
    box-sizing: border-box;
}

.cartype {
    appearance: none;
    width: 2rem;
    height: 2rem;
    background: var(--white-2);
    border-radius: 5px;
    margin-right: 1.4rem;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.cartype:checked {
    background: var(--gold-1); /* Используйте ваш золотой цвет */
}

.cartype:checked::after {
    content: "";
    position: absolute;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-image: url("../Images/checkmark_checked.svg");
}

#variants {
    min-height: 7.6rem;
    width: 100%;
    margin: 2rem 0;
    border-radius: var(--radius-large);
}

.autopark {
    background-color: var(--white-3);
    background-size: cover;
}

.our-autopark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 1.7rem;
}

.autopark h2 {
    width: auto;
    padding-top: 0;
}

#view-all {
    width: 44%;
    height: 4.4rem;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid var(--black-4);
    border-radius: var(--radius-medium);
    background: none;
    padding: 1.2rem;
}

.autopark-li {
    list-style: none;
    display: flex;
    gap: 1.4rem;
    padding: 0 2rem 0 0;
    margin: 0 -2rem 0 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100vw;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.autopark-li:nth-child(5) {
    margin-right: 2rem;
}

.autopark li p {
    font-weight: 700;
}

.autopark-li li{
    flex: 0 0 auto;
    white-space: normal;
}

.autopark-li img {
    margin-right: 1.4rem;
    font-size: 1.3rem;
}

#SUVbtn {
    background: var(--black-2);
    color: var(--white);
}

.autopark-cars {
    display: inline-block;
    height: 6.4rem;
    border: none;
    border-radius: var(--radius-large);
    padding: 2.2rem;
    white-space: nowrap;
    font-weight: 700;
    font-size: 1.3rem;
}

.car-page {
    width: 100%;
    background-color: var(--white);
    border: none;
    border-radius: var(--radius-large);
    padding: 1.6rem 1.6rem 3rem 3rem;
    margin: 1.4rem 0 0 0;
}

.car-image {
    margin-top: 0.7rem;
}

.wrapper {
    text-align: right;
}

.instock {
    display: inline-block;
    text-align: right;
}

.specs {
    display: flex;
    gap: 1rem;
    font-weight: bold;
    margin: 0;
    width: 100%;
    padding: 0 0 2.6rem 0;
}

.instock p {
    display: inline-block;
    vertical-align: middle;
    padding: 0.675rem 1rem;
    background: var(--white-4);
    color: var(--black);
    font-weight: bold;
    border: none;
    border-radius: var(--radius-small);
    margin: 0;
    font-size: 0.9rem;
    margin-right: 0.6rem;
}

.instock img {
    vertical-align: middle;
}

#Moscow-alley {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black);
    margin: 4rem 0 2rem 0;
}

#Luxury-cars {
    color: var(--gray-3);
    font-size: 1.4rem;
    font-weight: medium;
}

#book {
    width: 100%;
    min-height: 4rem;
    background: linear-gradient(to right, var(--gold-1), var(--gold-2));
    color: var(--white);
    border: none;
    border-radius: var(--radius-small);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.car-name {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 3.2rem 0 2rem 0;
}

.specs img, p {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--gray-2);
    margin: 0 1rem 0 0;
}

#DizrentalinMoscow {
    font-size: 1.8rem;
    color: var(--white);
    margin-bottom: 2rem;
}

.rentalform {
    background-image: url("../Images/rental_bg.png");
    background-size: cover;
    background-position: center;
}

.typeform {
    width: 100%;
    height: 7.6rem;
    background: var(--white-1);
    border: none;
    border-radius: var(--radius-large);
    padding: 2.8rem 0 2.8rem 3rem;
    margin-bottom: 1.4rem;
}

.rentalform h2 {
    margin: 0 2rem 2.3rem 0;
    color: var(--white);
}

.rentalform p {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--white);
}

#rentbutton {
    width: 100%;
    height: 7.6rem;
    background: none;
    border: 2px solid var(--white);
    border-radius: var(--radius-large);
    text-align: center;
    padding: 2.8rem 3.4rem 2.8rem 3.4rem;  
    color: var(--white);
    font-weight: bold;
    font-size: 1.6rem;
}

.policy {
    display: flex;
    gap: 2rem;
    margin: 2.9rem 1.4rem 3rem 0;
    color: var(--gray-4);
}

#hrefpolicy {
    text-decoration: none;
    color: var(--white);
}

#checkbox-agreement {
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    background: var(--white);
    border-radius: 5px;
    border: none;
}

#checkbox-agreement:checked {
    position: relative;
    width: 2rem;
    height: 2rem;
    background-image: url("../Images/check.svg");
}

#checkbox-agreement:checked::after {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-image: url("../Images/checkmark_checked.svg");
}

.threesteps {
    background: var(--white-3);
}

#threesteps {
    margin-bottom: 3rem;
}

.step {
    width: 100%;
    background: var(--white);
    border: none;
    border-radius: 2rem;
    padding: 3rem;
    margin: 1.4rem 0 0 0;
}

.step p {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 300;
}

.step h3 {
    font-family: 'Montserrat', sans-serif;
    margin-right: 7rem;
}

.rightnow {
    background: url("../Images/rightnow-bg.png");
}

.rightnow h2 {
    color: var(--white);
    text-align: left;
    margin-right: 7.2rem;
}

.rightnow ol {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 4rem 0 3rem 0;
    padding: 0;
    list-style: none;
    width: 100vw;
}

.rightnow ol li:nth-child(5) {
    margin-right: 0;
}

.rightnow ol li {
    display: inline-block;
    flex: 0 0 28rem;
    margin-right: 2rem;
    vertical-align: top;
    white-space: normal;
}

.rightnow p {
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--white-02);
}

.counter {
    display: flex;
}

.arrows {
    background: none;
    border: none;
}

#one {
    font-size: 2.6rem;
    font-weight: bold;
    color: var(--white);
    margin: 0.7rem 0 0 4rem;
}

#five {
    font-size: 2rem;
    font-weight: bold;
    color: var(--white-02);
    margin-top: 1.4rem;
}

.discount {
    background: var(--white);
    border-radius: 2rem;
    border: none;
}

.discount p {
    margin: 0 3rem 0 3rem;
    color: var(--gray-3);
    padding-bottom: 3rem;
}

#eliterental {
    font-size: 1.8rem;
    color: var(--white);
    margin: 3rem 0 2rem 0;
    font-weight: 500;
}

.discount h3 {
    font-family: 'Roboto', sans-serif;
    margin: 3rem 3rem 1.4rem 3rem;
}

.reasons {
    background: var(--white-3);
}

.reasons h2 {
    margin: 0 3rem 2.9rem 0;
}

.reasons-grid {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.reasons h3 {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.reasons p {
    color: var(--gray-3);
    font-size: 1.4rem;
    font-weight: 500;
}

.reason {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    vertical-align: top;
}

.reason h3 {
    margin: 0;
    font-size: 1.6rem;
}

.reason img {
    margin-right: 2.7rem;
}

.Dubai {
    background-color: var(--black-5);
    color: var(--white);
}

.Dubai img {
    margin: 3rem 0;
}

.bottomdubai img, p {
    display: block;
    vertical-align: middle;
    margin: 0;
}

#Moscow {
    padding: 0;
    margin: 4rem 0 3rem 0;
    padding-right: 35%;
}

#Moscow-interior {
    margin-top: 0;
}

.phone {
    color: var(--white);
}

#eight {
    margin: 0 0 0 1.4rem;
    gap: 3.2rem;
}

#eight img {
    margin: 0;
}

#twentyfour {
    margin: 0;
    gap: 1.8rem
}

#morethan {
    margin: 0 !important;
    padding-left: 1rem;
    gap: 2.8rem;
}

#guarantee {
    color: var(--white);
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.bottomdubai {
    display: flex;
    align-items: top;
    margin-bottom: 2rem !important;
    line-height: 2.4rem;
}

.bottomdubai p {
    white-space: normal;
}

.Dubai hr {
    margin: 3rem 0;
}

.numbers {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white);
}

footer {
    background: var(--black-6);
    padding: 4rem 2rem 3.3rem 2rem;
}

#call {
    width: 100%;
    height: 5.6rem;
    background: none;
    border: 2px solid var(--white);
    border-radius: var(--radius-medium);
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 500;
    margin: 2.4rem 0 2.4rem 0;
}

footer h3 {
    color: var(--white);
    margin-top: 4rem;
}

.contacts {
    display: flex;
    margin-bottom: 0.8rem;
}


.contacts img {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.8rem;
}

.contacts p {
    display: inline-block;
    vertical-align: bottom;
    white-space: normal;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

#mailf {
    color: var(--white);
}

.socials {
    margin: 3rem 0 4rem 0;
}

.socials img {
    margin-right: 1.2rem;
}

a:-webkit-any-link {

    cursor: pointer;
    
    
}

.dropdowns a {
    color: var(--gray-5);
    text-decoration: none;
}

.dropdowns {
    background: var(--black-7); /* сделай через отрицательный маргин */
    background-size: cover;
    text-align: center;
    margin: 0 -2rem;
}

.dropdowns li {
    background: var(--black-6);
    padding: 1rem 0;
}

.dropdowns ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.dropdowns h3 {
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.clients-open {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 2.8rem 2.5rem 2rem;
}

.open {
    background: none;
    border: none;
    padding: 0;
}

.autopark-f ul,
.events ul {
    display: none;
}


.open img {
    display: block;
}

#copyright {
    margin: 3.4rem 0 1.2rem 0;
}
