:root { /* поправить фонт (done), марджины паддинги, цвета, сделать флексы и пофиксить размеры и убрать фиксированные размеры у секций!!! фонт фейс в html также посмотри инлайн блоки*/
    --custom-property:__;
    --black-1: #1f1f1f;
    --black-2: #181818;
    --black-3: #0A0A0A;
    --black-4: rgba(31, 31, 31, 1);
    --black-5:  #121212;
    --black-6: #1d1d1d;
    --black-7: #141414;
    --gold-1: #9F7437;
    --gold-2: #E3D293;
    --gray-1: #727272;
    --gray-2: #707070;
    --gray-3: #9f9f9f;
    --gray-4: #b6b6b6;
    --gray-5: #afafaf;
    --white: #ffffff;
    --white-1: #f5f5f5;
    --white-2: #eeeeee;
    --white-3: #f4f4f4;
    --white-4: #f0f0f0;
    --white-02: rgba(255, 255, 255, 0.2);

    --radius-large: 1rem;
    --radius-medium: 0.8rem;
    --radius-small: 0.6rem;
}

html { font-size: 62.5%; }

html, body {
    min-width: 300px;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
}

h1 {
    margin-top: 0;
    font-size: clamp(2rem, 5vw, 6rem);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 2rem;
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.cat-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    min-height: 0;
}

.cat {
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-areas: "overlay";
    
    overflow: hidden;
    width: 100%;
    min-width: 0;
    height: 100%;
}

.cat img {
    grid-area: overlay;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-width: 0;
    border-radius: 5%;
    border: 2px solid var(--black-2);
}

.cat-btn {
    grid-area: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
    background: var(--white);
    border: 2px solid var(--black-2);
    color: var(--black-2);
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.1rem, 2vw, 6rem);
    font-weight: 600;
    padding: 1.2rem 2.4rem;
    border-radius: var(--radius-medium);
    
    width: 40%;
    height: 20%;
    place-self: center;
    
    opacity: 0;
    transition: all 0.3s ease;
    cursor: pointer;
}

.cat:hover .cat-btn {
    opacity: 1;
}

.cat-btn:hover {
    background: linear-gradient(to right, var(--gold-1), var(--gold-2));
}